<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>My Blog | <%-title%></title>
<!-- CUSTOM CSS -->
<link rel="stylesheet" href="/styles/1_resets.css" />
<link rel="stylesheet" href="/styles/2_header.css" />
<link rel="stylesheet" href="/styles/3_main.css" />
<link rel="stylesheet" href="/styles/4_footer.css" />
<!-- CUSTOM JS -->
<script defer src="/scripts/footer.js"></script>
