<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include("./partials/head.ejs")%>
  </head>
  <body>
    <%-include("./partials/header.ejs")%>

    <main>
      <section class="container">
        <h1>Home</h1>
      </section>

      <section class="container">
        <h3>About Us</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
          enim harum ratione itaque quo officia cum veritatis sunt tempora
          delectus saepe perferendis molestiae adipisci, esse pariatur facilis
          doloremque obcaecati quod.
        </p>
      </section>
    </main>

    <%-include("./partials/footer.ejs")%>
  </body>
</html>
